.presentation-container {
  width: 100%;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
}

.presentation-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #000;
  border-radius: 12px;
}

.nav-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
}

.arrow-btn {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.arrow-btn:disabled {
  opacity: 0.3;
  cursor: default;
}

@media (max-width: 768px) {
  .presentation-container {
    aspect-ratio: auto;
    height: auto;
  }

  .arrow-btn {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: none;
  }
  
}


/* Fullscreen button */
.fullscreen-btn {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}
.fullscreen-btn:hover {
  background: rgba(0,0,0,0.8);
}

/* Thumbnail Strip */
.thumbnail-strip {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin: 20px auto;
  padding: 10px;
  max-width: 1380px;
  margin-left: 100px;
}
.thumb {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}
.thumb:hover,
.active-thumb {
  opacity: 1;
  border: 2px solid #0ea5e9;
}

/* Zoom modal */
.zoom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }

  /* .thumb {
    width: 70px;
    height: 45px;
  } */

  .thumbnail-strip {
    margin-left: 0px;
    margin-top: 10px;
  }

  .fullscreen-btn {
    padding: 8px 10px;
    font-size: 16px;
  }
}